//Structure
.site-sharing {
  margin: 0;
  transition: margin, .3s,ease;
}


.offcanvas {
  @include background-opacity($black, 0);
  background: $black;
  box-sizing: padding-box;
  height: 100%;
  left: 0;
  margin-left: -75%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: margin, .3s,linear;
  visibility: hidden;
  width: 75%;

  @include media($medium-up) {
    margin-left: -50%;
    width: 50%;
  }


  @include media($large-up) {
    margin-left: -25%;
    width: 25%;
  }


  &.open {
    @include background-opacity($black, 1);
    margin-left: 0;
    visibility: visible;
  }


  &:after {
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }


  .menu {
    margin: 0;
  }


  .sub-menu {

    li {
      border: 0;
      font-family: $base-font-family;
    }
  }


  li {
    border-top: rem(1) dotted $dark-gray;
    color: $offwhite;
    display: block;
    padding: rem(10) 0;

    a {
      color: $offwhite;
      padding: rem(15);
    }


    &:last-child {
      border-bottom: rem(1)dotted $dark-gray;
    }
  }

.menu-item-has-children {

    &:before {
      border: rem(6) solid transparent;
      border-top-color: $offwhite;
      content: ' ';
      left: 75%;
      margin-left: rem(-12);
      margin-top: -.1em;
      position: relative;
      top: rem(12);
    }


    &.accordian {
      a {
        color: $blue;
      }


      .sub-menu {

        li {
          border: 0;
        }


        a {
          color: $offwhite;

          &:hover {
            color: $light-blue;
          }
        }


        .depth-0 {
          background-color: $medium-gray;
        }


        .depth-1 {
          background-color: $dark-gray;
          margin-top: rem(10);
          padding-left: rem(16);

          a {
            color: $offwhite;
            font-family: $base-font-family;
            font-size: rem(14);
          }
        }


        .menu-item-has-children.accordian {

          a {
            color: $blue;
          }


          .depth-1 {
            a {
              color: $offwhite;

              &:hover {
                color: $light-blue;
              }
            }
          }
        }
      }

&:before {
        border-bottom-color: $blue;
        border-top-color: transparent;
        top: rem(-12);
      }
    }
  }

.site-social {
    margin: rem(20) auto 0;
    text-align: center;
    }
  }

body.admin-bar .offcanvas {
  margin-top: rem(46);

  @include media($medium-up) {
    margin-top: rem(32);
  }
}
