#tribe-events {
  background-color: $black;
  color: $offwhite;
  padding: 0 rem(20);
  margin: 0;
}

.tribe-events-list-separator-month span {
  background-color: $black;
  color: $offwhite;
}

.single-tribe_events .tribe-events-event-meta {
  background: $black;
  border: 1px solid $offwhite;
}
