@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails
// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: rem(1280);

// Neat Breakpoints
$small: rem(468);
$medium: rem(784);
$large: rem(970);
$max: rem(1280);
$small-up: new-breakpoint(min-width $small 12);
$medium-up: new-breakpoint(min-width $medium 12);
$large-up: new-breakpoint(min-width $large 12);
$max-up: new-breakpoint(min-width $max 12);

//Visual Grid
$visual-grid: false;
$visual-grid-color: $light-blue;
$visual-grid-opacity: 0.1;
$visual-grid-breakpoints: ();
