body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: rem(40);
}
h2 {
  font-size: rem(30);
}
h3 {
  font-size: rem(24);
}
h4 {
  font-size: rem(20);
}
h5 {
  font-size: rem(18);
}
p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-top: $orange solid rem(4);
  border-bottom: $orange solid rem(4);
  margin: rem(20) 0 rem(20) 10%;
  padding: rem(10) 0;
}

ul,ol {
  margin: rem(20) 0 rem(20) 5%;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
