// Typography
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$base-font-family: $roboto;
$heading-font-family: $roboto-slab;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$black: #000;
$darktext: #232323;
$blue: #2349a1;
$gold: #d3b35e;
$green: #226d01;
$red: #a4202e;
$icon-gray: #d7d7d7;
$facebook-blue: #43609c;
$twitter-blue: #55acee;
$googlep-red: #dd4b39;
$youtube-red: #cc181e;
$pinterest-red: #d01d15;
$linkedin-blue: #1b86bc;
$light-blue: #5983c3;
$dark-blue: #005e9e;
$dark-gray: #3b3b3b;
$medium-gray: #555;
$light-gray: #ddd;
$offwhite: #f8f0e4;
$orange: #823806;
$alertbreaking: #f50d29;
$alertfeatured: $dark-blue;

// Font Colors
$base-background-color: $offwhite;
$base-font-color: $darktext;
$action-color: $red;
$caption-color: $light-gray;

// Border
$base-border-color: $darktext;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);
